language = "javascript"
entrypoint = "src/server.js"
modules = ["nodejs-20"]
run = "node src/server.js"

[nix]
channel = "stable-23_11"

[deployment]
run = "node src/server.js"
deploymentTarget = "autoscale"
